@page "/not-found"
@using Microsoft.AspNetCore.Components

<PageTitle>Page not found</PageTitle>

<div class="text-center mt-5">
    <h1>Page not found</h1>
    <p>Sorry, the page you tried to access does not exist or is invalid.</p>
    <p>
        <NavLink class="btn btn-primary" href="/">Return to home</NavLink>
    </p>
</div>
